rollbar==0.14.7
openslide-wrapper==1.1.2
matplotlib==3.1.1
numpy==1.21.0
requests_toolbelt==0.9.1
nibabel==3.1.1
EXCAT-Sync==0.0.20
scikit-image==0.16.2
SlideRunner_dataAccess==1.0.6
opencv-python==4.5.3.56
